@page "blog/xembaiviet/{id:int}"
@model razorPages.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
}

<h1>@Model.Article.Title</h1>
<p><i>@Html.DisplayFor(model => model.Article.Created)</i></p>
<hr>
<p>@Html.Raw(Model.Article.Content)</p>
<hr>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
